#about_main{
    width: 80%; align-self: center;
    display: flex; flex-direction: column;
}

#about_header{
    width: 80%; display: flex; align-self: center; margin-bottom: 8px; 
} 

#about_image{

    height: 250px; width: 250px; border-radius: 5px; 

}

#about_introduction{
    width: 750px; display: flex; flex-direction: column; justify-content: center;
}

#about_introduction h2{
    align-self: center; 
}

#links{
    display: flex; justify-content: center; 
}

#links p{
    width: 80%; align-self: center; text-align: center; font-weight: bold;
}

#about_introduction p:last-child{
    width: 80%; align-self: center; 
}

#about_main>section{

    width: 80%; align-self: center;

}

#about_main>section h3{
    margin-bottom: 0; border-bottom: 1px solid black;
}

#about_main>section p span{
    font-weight: bold;
}

#tools{
    display: flex; list-style: none;
}

#tools li{

    height: 50px; width: 50px; margin-right: 16px;
}

#tools li>a{
    height: 100%; width: 100%;
}

#tools li>a img{
    height: 50px; width: 50px;
}