#picture_placeholder{

    height: 250px; width: 250px; display: block;
    background-image: url(/images/sudoku_screenshot.png); background-repeat: no-repeat; background-position: center; background-size: cover;
    border-radius: 5px; 
}

ul li:first-child{

    background-image: url(/images/icons/html.png);

}

ul li:nth-child(2){

    height: 70px; background-image: url(/images/icons/css.png);

}

ul li:nth-child(3), ul li:nth-child(4), ul li:nth-child(5){

    width: 70px;

}

ul li:nth-child(3){

    background-image: url(/images/icons/javascript.png);

}

ul li:nth-child(4){

    background-image: url(/images/icons/github.png);

}

ul li:last-child{

    background-image: url(/images/icons/visualstudio.png);

}
